<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/vuetify@3.0.0-beta.3/dist/vuetify.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>digitalojt</title>
  </head>
  <body>
    <div id="app">
      <v-app id="inspire">
        <v-app-bar app>
          <v-toolbar-title>ドローン生産在庫管理システム</v-toolbar-title>
        </v-app-bar>
        <v-main>
          <v-container class="py-8 px-6" fluid>
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(drone, i) in list"
                :key="i"
                :title="drone.createdAt"
                :text="drone.name"
              >
              </v-expansion-panel>
            </v-expansion-panels>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuetify@3.0.0-beta.3/dist/vuetify.js"></script>
    <script>
      vuetify = Vuetify.createVuetify();
      const drone = {
        data() {
          return {
            list: [],
          };
        },
        async created() {
          const response = await fetch('/drone');
          this.list = await response.json();
        },
      };
      app = Vue.createApp(drone);
      app.use(vuetify);
      app.mount('#app');
    </script>
  </body>
</html>
